:root {
	--firstcolor: #c3b9f2;
	--secondcolor: #5d2778;
	--threecolor: #ffffff;
	--maincolor: #f0e2f5f9;
	--box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0;
	min-height: 100%;
	background-color: #92859d !important;
}

h1.text-center {
	font-size: 70px;
	text-align: center;
	margin: 0;
	color: var(--maincolor);
}

h2.text-center {
	text-align: center;
	font-size: 50px;
	margin: 0;
	color: var(--maincolor);
}

h3.text-center {
	font-size: 24px;
	opacity: 0.9;
	margin: 0;
	text-align: center;
	font-style: 900;
	color: #fff;
}

img {
	display: block;
	align-items: center;
}

p {
	font-size: 18px;
}

nav.navbar-light {
	background-color: #1a1818 !important;
	border-bottom: 2px solid var(--secondcolor);
}

h2.my-name {
	font-size: 36px;
	font-style: italic;
}

a.navbar-brand {
	display: flex;
	flex-grow: 4;
	color: #f4eef6f9;
	font-size: 20px;
	font-style: italic;
}

a.nav-link {
	color: #f4eef6f9;
}

a.nav-link:hover {
	text-decoration: underline;
	color: #efddf5f9;
}

button.navbar-toggler {
	background-color: #f4eef6f9;
}

i {
	font-family: fontawesome !important;
	font-style: normal;
	color: var(--maincolor);
}

.navbar-img {
	width: 40px;
	background-color: transparent;
	box-shadow: none;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

.homepage {
	display: block;
	color: var(--firstcolor);
	text-align: center;
}

.section {
	background-color: #30233a;
	padding-top: 100px;
	padding-bottom: 20px;
}
.section-description {
	letter-spacing: 2;
	padding-bottom: 20px;
}
.section-title {
	letter-spacing: 2;
	padding-bottom: 10px;
}
.my-name {
	padding-bottom: 15px;
}
.section-text {
	letter-spacing: 2;
}
.hero-inner {
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 60px;
	background-color: #30233a;
}
.hero-inner__title {
	display: flex;
	color: var(--maincolor);
	margin-right: auto;
	margin-left: auto;
	font-size: 52px;
	justify-content: center;
	margin-bottom: 60px;
}
.hero-inner__img {
	width: 70px;
	padding-left: 18px;
	padding-right: 15px;
	transition-duration: .8s !important;
}
.hero-inner__svg {
	width: 70px;
	margin-top: -30px;
	padding-right: 30px;
}
.hero-container {
	margin-left: 80px;
	margin-right: 80px;	
}
.hero-card__first,
.hero-card__second {
	display: flex;
	background-color: #baa8ba;
	padding: 40px;
	max-width: 700px;
	border-radius: 10px;
	background-image: linear-gradient(311deg, rgba(26, 188, 254, .23), rgba(9, 26, 47, .1));
	box-shadow: 0 0 1em 0.5em rgb(0 0 0 / 20%);
}
.hero-card__first {
	margin: 0px auto 40px 10px;

}
.hero-card__second {
margin: 0px 10px 40px auto;
}
.inner {
	background-color: #92859d;
	padding-bottom: 20px;
}

.inner-content {
	min-height: 100%;
	margin-top: 17px;
	padding: 15px;
	color: #f4eef6f9;
}

.about-content {
	display: flex;
	justify-content: space-evenly;
	margin: 40px 50px;
	color: #f4eef6f9;
	min-height: 100%;
}

.about-inner {
	margin: 0;
	min-height: 100%;
}

.about-item {
	background: var(--secondcolor);
	padding: 15px;
	margin: 0 18px;
	text-align: center;
}

.my-contact {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: var(--firstcolor);
	font-size: 26px;
	cursor: pointer;
	margin: 0;
}

.my-contact:hover {
	text-decoration: underline;
}

.contacts {
	display: flex;
	margin-top: 45px;
	justify-content: center;
}

.contact-item,
.about-link {
	text-decoration: none;
	padding: 10px 15px;
	margin: 20px;
	border-radius: 5px;
}

.contact-item {
	background-color: #776777;
	color: #1a1818;
	font-weight: 500;
	box-shadow: var(--box-shadow);
	background-image: linear-gradient(311deg, rgba(26, 188, 254, .23), rgba(9, 26, 47, .1));
}

.contact-item:hover {
	background-color: #5b525b;
	color: var(--threecolor);
	box-shadow: var(--box-shadow);
}

.about-link {
	color: #776777;
	border: 1px solid #776777;
	box-shadow: var(--box-shadow);
	
}

.about-link:hover {
	color: var(--maincolor);
	border: 1px solid var(--maincolor);
}

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 60px, 0)
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

@-webkit-keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0)
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both
}

.animatedFadeInUp {
	opacity: 0
}

.fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
}

.link-harry {
	display: block;
	margin: 0 auto;
	background-color: #261d2d;
	width: 70%;
	text-decoration: none;
	color: var(--threecolor);
	text-align: center;
	box-shadow: var(--box-shadow);
	padding-bottom: 5px;
	padding-top: 5px;
	background-image: linear-gradient(311deg, rgba(26, 188, 254, .23), rgba(9, 26, 47, .1));
}
.hero-light {
	display: flex;
	margin-bottom: -145px;
	align-items: center;
}
.hero-item {
	margin-bottom: -30px;
	margin-top: 90px;
}
.hero-btn {
	display: block;
	margin: 0 auto;
	width: 50%;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 15px;
	border: none;
	background-color: #cec7ce;
	background-image: linear-gradient(311deg, rgba(26, 188, 254, .23), rgba(9, 26, 47, .1));
}
.box {
	background-color: rgb(24, 17, 29);
	padding-bottom: 15px;
}

.about-title {
	margin-top: 60px;
}

.about-contact {
	margin-top: 20px;
}

.item-link {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
}
.images-box {
	width: 900px;
	height: 150px;
}
.footer {
	background-color: rgb(24, 17, 29);
	position: relative;
	color: white;
}

.fa-instagram {
	font-size: 18px;
	font-weight: 800;
}

.fa-linkedin-in {
	font-weight: 40;
	font-size: 18px;
	padding-bottom: 4px;
}

.footer-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	box-shadow: none;
	background-color: var(--maincolor);
	padding: 3px;
}

.social-link {
	font-size: 16px;
	text-decoration: none;
	color: var(--maincolor);
}

.social-link:hover {
	text-decoration: underline;
	color: var(--maincolor);
}

@media (max-width: 768px) {
	p {
		font-size: 14px;
	}

	.footer-links {
		display: block;
		margin: 0 auto;
	}

	.item-link {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media (max-width: 576px) {
	h1.text-center {
		font-size: 30px;
		padding-bottom: 10px;
	}

	h2.text-center {
		font-size: 20px;
		padding-bottom: 10px;
	}

	h3.text-center {
		font-size: 20px;
	}

	.section {
		padding-top: 30px;
		padding-bottom: 0px;
	}

	.footer-links {
		display: block;
		margin: 0 auto;
	}

	.item-link {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.contact-item,
	.about-link {
		font-size: 14px;
	}
}